form(action=(metahuman ? `/metahumans/update` : "/metahumans"), method="POST")
  if metahuman
    input(type="hidden", name="id", value=metahuman.id)

  .form-group
    label Full Name
    input.form-control(name="metahuman[fullName]", required, value=(metahuman ? metahuman.fullName : null))

  .form-group
    label Alias
    input.form-control(name="metahuman[alias]", required, value=(metahuman ? metahuman.alias : null))

  .form-group
    label Affiliation
    input.form-control(name="metahuman[affiliation]", required, value=(metahuman ? metahuman.affiliation : null))

  .form-group
    label Metatype
    select.form-control(name="metahuman[metatype]", required)
      each metatype in ["Superhero","Villain","Antihero"]
        option(value=metatype, selected=(metahuman && metahuman.metatype === metatype))
          = metatype
  
  .form-group
    button.btn.btn-dark(type="submit") Submit